@use '../base/variables' as var;
@use '../base/mixins' as mix;

.main-container {
   margin-block: 3rem;
   width: 90%;
   max-height: 90%;
   border-radius: var.$large-border;
   box-shadow: 8px 8px 25px 1px rgba(0, 0, 0, 0.4);
   background-color: var.$dark-blue-color;
   
   @include mix.tablet-size {
      margin-block: 5rem 0;
      width: 500px;
      max-height: 85%;
   }
   
   @include mix.desktop-small-size {
      max-height: 550px;
   }
}
